.header, .content {
	position: absolute;
	left: 0;
	width: 100%;
}

.header{
	overflow: hidden;
}

.header {
	top: 0;
	height:5rem;
	overflow: hidden;
}

.content {
	top: 5rem;
	bottom: 0rem;
	overflow: auto;

}

.side-bar {
	width: 35%;
	height: 100%;
	position: absolute;
	right:0;
}

.map-position {
	width: 65%;
	height: 100%;
	position: absolute;
	right:35%;
}