<html>
{% load static %}
<head>
	<title>Wunderground Weather Service</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- Charge Leaflet CSS into the template -->
	<link rel="stylesheet" type="text/css" href="/static/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet-draw/dist/leaflet.draw-src.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet-draw/dist/leaflet.draw.css' %}" />
	<link rel="stylesheet" type="text/css" href="/static/mystyles.css" />
</head>
<body>
	<div class="header">
		<a1>Wunderground Weather Web Service </a1>
	</div>
	<div class="header">
		<h1>Please draw a location on the map to generate the current weather.</h1>
	</div>
	<div class="content">
		<div id="map" class="map-position"></div>
		<div class="side-bar">
			<h1>Please type your coordinates:</h1>
			<form id="weather-inputs-form" method="POST" enctype="multipart/form-data" action="/weather/result/">
				{% csrf_token %}
				<div>
					<div>
						<b>{{form.latitude.label}}</b>
					</div>
					<div>
						{{form.latitude}}
					</div>
				</div>
				<div>
					<div>
						<b>{{form.longitude.label}}</b>
					</div>
					<div>
						{{form.longitude}}
					</div>
				</div>
				<input type="submit" value="Submit">
			</form>
		</div>
    </div>
</body>
<!-- Charge leaflet JavaScript into the template -->
<script type="text/javascript" src="/static/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="{% static 'leaflet-draw/dist/leaflet.draw-src.js' %}"></script>
<script type="text/javascript" src="{% static 'leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script>
	var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            osm = L.tileLayer(osmUrl, { maxZoom: 15, attribution: osmAttrib }),
            map = new L.Map('map', { center: new L.LatLng(39.505, -8.04), zoom: 6.5 }),
            drawnItems = L.featureGroup().addTo(map);
    L.control.layers({
        'osm': osm.addTo(map),
        "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
            attribution: 'google'
        })
    }, { 'drawlayer': drawnItems }, { position: 'topleft', collapsed: false }).addTo(map);
    map.addControl(new L.Control.Draw({
        draw: {
            polygon: false,
            polyline: false,
            circle : false,
            circlemarker: false,
            rectangle: false,
            marker: true
        }
    }));

    var drawLayer = undefined;
    map.on(L.Draw.Event.CREATED, function (event) {
        if (drawLayer) {
            drawnItems.removeLayer(drawLayer);
        }

        drawLayer = event.layer;

        drawnItems.addLayer(drawLayer);

        document.getElementById("id_latitude").value = drawLayer._latlng.lat;
        document.getElementById("id_longitude").value = drawLayer._latlng.lng;
	});
    
</script>
</html>