<html>
<head>
	<title>Weather Results</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Charge leaflet CSS into the template -->
	<link rel="stylesheet" type="text/css" href="/static/leaflet/dist/leaflet.css"/>
	<link rel="stylesheet" type="text/css" href="/static/mystyles.css"/>
	
	
</head>
<body>
	<div class="header">
		<h1>Wunderground Weather Web Service </h1>
	</div>
	<div class="content">
		<div id="map" class="map-position"></div>
	</div>
</body>

<!-- Charge leaflet JavaScript into the template -->
<script src="/static/leaflet/dist/leaflet.js"></script>
<script src="/static/leaflet-ajax/dist/leaflet.ajax.min.js"></script>
<script>
	var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            osm = L.tileLayer(osmUrl, { maxZoom: 15, attribution: osmAttrib }),
            map = new L.Map('map', { center: new L.LatLng(39.505, -8.04), zoom: 6.5 }),
            drawnItems = L.featureGroup().addTo(map);
    L.control.layers({
        'osm': osm.addTo(map),
        "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
            attribution: 'google'
        })
    }, { 'drawlayer': drawnItems }, { position: 'topleft', collapsed: false }).addTo(map);
    	
	var geojsonLayer = new L.GeoJSON.AJAX(("/weather/climatic_data/{{ random_str }}/{{ filename }}/"), {
    	onEachFeature: function (feature, layer) {
        var popupContent = [];
        
        for (var key in feature.properties) {
            popupContent.push(key + ": " + feature.properties[key]);
        }
     
        if(feature.geometry.type === "Point")
        {
            popupContent.push("Latitude: " + feature.geometry.coordinates[1]);
            popupContent.push("Longitude: " + feature.geometry.coordinates[0]);
        }
        layer.bindPopup(popupContent.join("<br/>"))}});
    
	geojsonLayer.addTo(map);

	geojsonLayer.on('data:loaded', function() {
		map.fitBounds(geojsonLayer.getBounds());
	}.bind(this));
</script>
</html>