<html>
<head>
	<title>DEM Creation Service</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Charge leaflet CSS into the template -->
	<link rel="stylesheet" type="text/css" href="/static/leaflet/dist/leaflet.css"/>

	<style>.map-pos { width: 70%; height: 600px }</style>
</head>		
<body>
	<p>{{ elevation_path }}</p>
	<p>{{ field }}</p>
	<p>{{ cellsize }}</p>
	<p>{{ out_format }}</p>
	<a href="/dem/down/{{ foldername }}/{{ filename }}/{{ fileformat }}/" download>Download the result></a>
	<div id="mapid" class="map-pos">
</body>
<!-- Charge leaflet JavaScript into the template -->
<script src="/static/leaflet/dist/leaflet.js"></script>
<script>
	var mymap = L.map('mapid').setView([39.6818, -7.96643], 5);

	var MAPBOX_KEY = 'https://api.mapbox.com/styles/v1/jasp12/cj6tpc9bb6' + 
		'jgi2rmenh8lzyr6/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiamFzc'+
		'DEyIiwiYSI6ImNqNnRwYnF3MDA0YXkycXM0M210M3FtejQifQ.KfkaOt8Xc02oPI9lBUtHrA';

	var MAPBOX_STREETS_ATTRIBUTION = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

	var MAPBOX_STREETS_ID = 'mapbox.streets';

	var basemapLyr = L.tileLayer(
		MAPBOX_KEY, {
			maxZoom: 30,
			minZoom: 1,
			attribution: MAPBOX_STREETS_ATTRIBUTION,
			id: MAPBOX_STREETS_ID
		});

	mymap.addLayer(basemapLyr);

	var geoserverlyr = '{{ geoserver_w|escapejs|safe }}:{{ geoserver_lyr|escapejs|safe }}';
	
	var wmsLayer = L.tileLayer.wms(
		'http://192.168.1.4:8080/geoserver/ows?', {
			layers: geoserverlyr,
			transparent: true,
			format: 'image/png'
		});
	mymap.addLayer(wmsLayer);
</script>
</html>
