	<html>
<head>
	<title>DEM Creation Service</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- Charge Leaflet CSS into the template -->
	<link rel="stylesheet" type="text/css" href="/static/leaflet/dist/leaflet.css"/>

	<link rel="stylesheet" type="text/css" href="/static/mystyles.css" />
</head>
<body>
	<div class="header">
		<h1>DEM Creation Web Service </h1>
	</div>
	<div class="content">
		<div id="mapid" class="map-position"></div>
		<div class="side-bar">
			<h1>Please fullfill the following form to generate your Digital Elevation Model</h1>
			<form id="dem-inputs-form" method="POST" enctype="multipart/form-data" action="/dem/result/">
				{% csrf_token %}
				<div>
					<div>
						<b>{{ form.elevation.label}}</b>
					</div>
					<div>
						{{ form.elevation}}
					</div>
				</div>
				<div>
					<div>
						<b>{{ form.elev_field.label }}</b>
					</div>
					<div>
						{{form.elev_field}}
					</div>
				</div>
				<div>
					<div>
						<b>{{ form.cellsize.label}}</b>
					</div>
					<div>
						{{form.cellsize}}
					</div>
				</div>
				<div>
					<div>
						<b>{{ form.output_format.label}} </b>
					</div>
					<div>
						{{form.output_format}}
					</div>
				</div>
				<input type="submit" value="Create DEM">
			</form>
		</div>
	</div>
</body>
<!-- Charge leaflet JavaScript into the template -->
<script src="/static/leaflet/dist/leaflet.js"></script>

<script>
	var mymap = L.map('mapid').setView([39.6818, -7.96643], 5);

	var MAPBOX_KEY = 'https://api.mapbox.com/styles/v1/jasp12/cj6tpc9bb6' + 
		'jgi2rmenh8lzyr6/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiamFzc'+
		'DEyIiwiYSI6ImNqNnRwYnF3MDA0YXkycXM0M210M3FtejQifQ.KfkaOt8Xc02oPI9lBUtHrA';

	var MAPBOX_STREETS_ATTRIBUTION = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

	var MAPBOX_STREETS_ID = 'mapbox.streets';

	var basemapLyr = L.tileLayer (
		MAPBOX_KEY, {
			maxZoom: 30,
			minZoom: 1,
			attribution: MAPBOX_STREETS_ATTRIBUTION,
			id: MAPBOX_STREETS_ID
		});
	mymap.addLayer (basemapLyr);
</script>
</html>